/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* used margin to give an entent space from the bottom of container to the footer*/
main {
  margin-bottom: 50px;
}

/* used paddings to give an extent space for the top and bottom of my name */
/* font-family is from Google Fonts  */
/* deleted the margin space from the bottom of h2 */
.navbar{
background-color:#FEF9E7;


}

h2 {
  color: white;
  font-family: "Libre Baskerville", serif;
  background-color: rgb(74, 170, 165);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

/* copied link of font-family from Google font  */
/* used margins to give an extent space for the top and the bottom of h2 */

h1 {
  color: rgb(74, 170, 165);
  font-family: "Libre Baskerville", serif;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* deleted the margin space from the bottom of the line */
.hr {
  margin-bottom: 0px;
}

/* deleted the margin space from the top and bottom of paragraph1 */
#p1 {
  margin-top: 0;
  margin-bottom: 0;
}

/* image is wrapped up by paragraph1 by using float property */
/* floatted the image to the left of the container and gave the margin space for the right and bottom of image */

.aprilimg {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 26%;
  height: auto;
}

/* used media queries with the max-width values for image "aprilimg" to be a reponsive image when the width of screen in large,medium,and small */
/*  */
@media (max-width: 992px) {
  .aprilimg {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .aprilimg {
    width: 50% !important;
  }
}

@media (max-width: 576px) {
  .aprilimg {
    width: 50% !important;
  }
}

/* gave the background color of the container as white */
/* used margins and paddings to extend and adjusted the space for the content of container  */
.aboutmebackground {
  background-color: #FEF9E7;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.portfoliobackground{
background-color:#FEF9E7;
margin-top: 60px;
margin-bottom: 50px;
margin-left: 30px;
margin-right: 30px;
padding-top: 15px;
padding-left: 30px;
padding-right: 30px;
background-position: center;

}

/* embeded the background image for main area */
.background {
  background: url("./workimage/backgroundimage.jpeg");
  background-size: cover;
  background-position: center;
}

/* built a sticked footer for each of pages and centered the text in the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* styling the line which is came with the footer */
.linecolor {
  background-color: rgb(74, 170, 165);
  border-width: 6px;
  margin: 0;
  padding: 0;
}

/* gave the footer a stlying*/
.footerp {
  padding: 5px 0;
  color: rgb(107, 114, 121);
  background-color: rgb(102, 102, 102);
  font-size: small;
}

/* used margins to give an extent space for the top and bottom of p2 */
.p2 {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* the modle of submit button is copied from Bootstrap, but overrided the border-radius by setting it up as 0 and moved its position to a little bit left by using negtive number with margin */
/* used padding and font-size to adjust the background space around the value " Submit "  */
.btn {
  background-color: rgb(74, 170, 165);
  color: white;
  border-radius: 0rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  margin-left: -10px;
}

/* only the three forms in the form element moved to left 10px */
#form {
  margin-left: 10px;
}

/* the text color of " Submit" will change from white to gray, when the curser hover the button.  */
input[type="submit"]:hover {
  color: gray;
}

/* overrided the border-radius by setting it up as 0 for the form-group*/
.form-control {
  border-radius: 0rem;
}

/* responsive images */
.img-fluid {
  width: 100%;
  height: 180px;
}

/* style project header */
.card-title{
color: rgb(74, 170, 165);
font-family: "Libre Baskerville",
  serif;
text-align:center; 


}

/* style card container and float left  */
.card-body {
  padding: 5px;
  border: solid;
  border-color: gray;
  border-radius: 10px;
  float:left;
  width:100%;
  margin: 10px;
  text-align:center;
  
}

/* style githubicon */
.githubicon{
font-size: 25px;
margin-left: 5px;
color: rgb(74, 170, 165);

}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(74, 170, 165);
}

/* mouse over link */
a:hover {
  color:burlywood;
}

/* selected link */
a:active {
  color: lightcoral;
}
